<!--<form action="/signin" method="get">-->
<!--    <input type="submit" value="ログイン">-->
<!--</form>-->

<!--<form action="/signup" method="get">-->
<!--    <input type="submit" value="新規登録">-->
<!--</form>-->

<div style="display: flex;flex-direction: column;align-items:center;justify-content:center;height: 100vh;">
    <h1>Homework Time</h1>
    <div class="login">
        <a href="/signin">ログイン</a>
        <a href="/signup">新規登録</a>
    </div>
</div>

