<h1>追加</h1>
<form action="/home/todo" method="post">
    <input type="text" name="homework_name" placeholder="宿題名　計算ドリル"><br>
    <input type="text" name="homework_range" placeholder="範囲　　10~15,21~23"><br>
    <input type="text" name="homework_deadline" placeholder="期限　　2022-12-05"><br>
    <input type="submit" value="追加">
</form>