<div  style="display: flex;flex-direction: column;align-items:center;justify-content:center;height: 100vh;">
    <h1>ログイン</h1>
    <form action="/signin" method="post">
        <input type="text" name="mail" placeholder="名前"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <input type="submit" value="ログイン">
    </form>
</div>